* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url("image/fond.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#divWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 30px;
    justify-content: center;

}
#divWrapper > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 10px;
}
.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 50px;
}
.buttonWrapper > button {
    margin: 10px;
    padding: 10px 16px 10px 16px;
    display: inline-block;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 20px;
    font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.11);
    border: 1px solid white;
}

.water{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 255, 0.381);
}

.water:hover{
    background-color: rgb(0, 0, 255);
}

.fire{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(238, 116, 29, 0.629);
}

.fire:hover{
    background-color: rgb(238, 116, 29);
}

.grass{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(4, 183, 63, 0.381);
}

.grass:hover{
    background-color: rgb(4, 183, 64);
}

.bug{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(202, 251, 25, 0.523);
}

.bug:hover{
    background-color: rgb(202, 251, 25);
}

.poison{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(199, 0, 249, 0.381);
}

.poison:hover{
    background-color: rgb(199, 0, 249);
}

.normal{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(105, 107, 109, 0.662);
}

.normal:hover{
    background-color: rgb(105, 107, 109);
}


.electric{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(205, 255, 23, 0.493);
}

.electric:hover{
    background-color: rgb(205, 255, 23);
}

.ground{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(83, 61, 32, 0.632);
}

.ground:hover{
    background-color: rgb(83, 61, 32);
}

.fairy{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(203, 45, 150, 0.381);
}

.fairy:hover{
    background-color: rgba(203, 45, 150, 0.981);
}

.fighting{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 5, 5, 0.527);
}

.fighting:hover{
    background-color: rgba(255, 5, 5, 0.995);
}

.rock{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(67, 71, 68, 0.577);
}

.rock:hover{
    background-color: rgba(67, 71, 68, 0.975);
}

.psychic{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(204, 54, 117, 0.61);
}

.psychic:hover{
    background-color: rgba(204, 54, 117, 0.992);
}

.ghost{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.456);
}

.ghost:hover{
    background-color: rgba(255, 255, 255, 0.999);
}

.dragon{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(14, 3, 142, 0.381);
}

.dragon:hover{
    background-color: rgba(15, 3, 142, 0.999);
}


.ice{
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 208, 255, 0.381);
}

.ice:hover{
    background-color: rgba(0, 208, 255, 0.999);
}



.menu{
    text-align: center;
}
.videomenu{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        overflow: hidden;
}

.videomenu::-webkit-media-controls {
    display: none !important;
}

.h1menu{
    position: absolute;
    color: white;
    z-index: 50;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fade 1.5s linear infinite;
}

    @keyframes fade {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .audio{
        position: absolute;
        top: 90%;
        left: 90%;
        transform: translate(-50%,-50%);
        z-index: 50;
    }

