* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url("image/fond.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#divWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 30px;
    justify-content: center;

}
#divWrapper > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #333333;
    text-decoration: none;
    font-size: 10px;
}
.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 50px;
}
.buttonWrapper > button {
    margin: 10px;
    padding: 10px 16px 10px 16px;
    display: inline-block;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 20px;
    font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.11);
    border: 1px solid white;
}

.poke{
    background-color: rgba(173, 216, 230, 0.78);
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.poke:hover{
    background-color: lightblue;
}


.menu{
    text-align: center;
}
.videomenu{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        overflow: hidden;
}

.videomenu::-webkit-media-controls {
    display: none !important;
}

.h1menu{
    position: absolute;
    color: white;
    z-index: 50;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fade 1.5s linear infinite;
}

    @keyframes fade {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .audio{
        position: absolute;
        top: 90%;
        left: 90%;
        transform: translate(-50%,-50%);
        z-index: 50;
    }

.active{
    display: none;
}

